{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
          <h2><span>I'm </span><span class="underlight">Jenny Wilson</span> a Professional<span> Photographer from New
              York City</span></h2>
          <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero.
            Qui voluptas amet.</p>
          <a href="{% url 'Home:contact' %}" class="btn-get-started">Available for Hire<br></a>
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- Gallery Section -->
  <section id="gallery" class="gallery section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        {% for pic in pics %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            
              <img src="{{pic.image.url}}" class="img-fluid" id="multiple_image" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="{{pic.image.url}}" title="{{pic.category}}" class="glightbox preview-link"><i
                    class="bi bi-arrows-angle-expand"></i></a>
              </div>
              <p class="text-center">{{pic.title}}</p>            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- /Gallery Section -->
</main>
{% endblock %}